<body class="dealer">
    <h1>Dealership</h1>
    <a class="btn btn-outline-primary" href="/dealer/buy" role="button">Buy a new car</a>
    <a class="btn btn-outline-primary" href="/dealer/sell" role="button">Sell from your collection</a><br>
    
</body>

