<div class="a">
    <h1>Dealership</h1>
    <a class="btn btn-outline-primary" href="/dealer/buy" role="button">Buy a new car</a>
    <a class="btn btn-outline-primary" href="/dealer/sell" role="button">Sell from your collection</a><br>
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/810e0c52937817.5922ad27c44ec.jpg" alt="Luxury dealership" style="width:763px;height:500px;"><br>
</div>


