<body class="dealer">
    <div class="background">
        <p class="title"><h1>Dealership</h1></p>
        <a class="btn btn-primary" href="/dealer/buy" role="button">Buy a new car</a>
        <a class="btn btn-primary" href="/dealer/sell" role="button">Sell from your collection</a><br>
    </div>
</body>

