<body class="garage">


<div class="garage">
    <span id="first" ><%= link_to "#{@user.owned_cars.first.make} #{@user.owned_cars.first.model}", uc_path(@user.owned_cars.first)%> </span><br>
</div>
</body>