<div class="a">
<h1>Garage</h1>
</div>

<% @user.user_cars.each do |uc| %>
    <ul>
        <li><%= uc.make %>
        <%= uc.model %>
        <%= uc.condition %>
        <%= uc.value %></li>
    </ul>
<% end %>