<body class="garage">


<div class="garage">
    <span id="first" ><%= link_to "#{@user.owned_cars.first.make} #{@user.owned_cars.first.model}", uc_path(@user.owned_cars.first)%> </span><br>
    <span id="second" ><%= link_to "#{@user.owned_cars.second.make} #{@user.owned_cars.second.model}", uc_path(@user.owned_cars.second)%></span><br>
    <span id="third"><%= link_to "#{@user.owned_cars.third.make} #{@user.owned_cars.third.model}", uc_path(@user.owned_cars.third)%></span><br>
    <span id="fourth"><%# link_to "#{@user.owned_cars.fourth.make} #{@user.owned_cars.fourth.model}", uc_path(@user.owned_cars.fourth)%></span>
</div>
</body>