/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// html body {
//     // background-image: image-url('background.jpeg');
//     background-color: rgb(213,24,45);
//     background-color: hsla(200,40,30,0.60);
// }

div.a {
    text-align: center;
  }

img {
      max-width: 40%;
      height:auto;
    }
    
body {
    background-image: url("https://www.formula1.com/content/dam/fom-website/ooyala-videos/2019/10/htOTBwaTE6g4yLUObgBrSdu03B0ufCgZ");
    height: 100%;
    background-position: fixed;    
    // background-size: contain;
    // // background-position: initial;  
    // background-repeat: no-repeat;  
    }






