/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// html body {
//     // background-image: image-url('background.jpeg');
//     background-color: rgb(213,24,45);
//     background-color: hsla(200,40,30,0.60);
// }

img {
  max-width: 40%;
  height:auto;
}

  body {
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  background-image: url("https://wallpapercave.com/wp/tZAh2fj.jpg");
  
  

  // background-size: contain;
  // // background-position: initial;  
  // background-repeat: no-repeat;  
}

  body.garage {
  background-image: url("https://si.wsj.net/public/resources/images/B3-DH847_GARAGE_M_20190301170204.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: fixed;
  }

  body.dealer {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/810e0c52937817.5922ad27c44ec.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
    }
 
    body.leaderboard {
    background-image: url("https://www.topgear.com/sites/default/files/styles/16x9_1280w/public/images/news-article/2015/12/096129865406f1b5908a033cdbfe051d/li3164184_img_2504.jpg?itok=JrR_SB0R");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
    }
  

a {
  color: black
}

div.background{
  background-color: rgba(179, 255, 0, 0.561);
  opacity: 0.9;
  width: 40%;
  font-family: 'Impact';
}

div#welcome{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
}

div#car-show{
  position: absolute;
  left: 60%;
  top: 15%;
  transform: translate(-50%);
  padding: 0 15px;
  float: left;
  font-size: 150%;
}

div.garage{
  background-color: rgba(0, 255, 179, 0.561);
  opacity: 0.9;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Impact';
  font-size: 200%;
}

p.title{
  color: #050101;
  font-size: 400%;
}

.btn{
  margin: 3px;
  padding: 20px 30px;
  border: none;
}

.btn-primary{
  background: white;
  color: #050101;
}

.btn-primary:hover{
  background: rgba(179, 255, 0, 0.561)
}

a#login-button{
  position: relative;
  right: 15%;
}

a#sign-up-button{
  position: relative;
  left: 15%;
}

div.button{
  margin: 3px
}

span#first{
  position: relative;
  left: 5%;
}

span#second{
  position: relative;
  left: 20%;
}

span#third{
  position: relative;
  left: 35%;
}

span#fourth{
  position: relative;
  left: 50%;
}

img.car{
  padding: 0 15px;
  float: left;
}

span#next-vehicle{
  position: relative;
  left: 5%;
}

