/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// html body {
//     // background-image: image-url('background.jpeg');
//     background-color: rgb(213,24,45);
//     background-color: hsla(200,40,30,0.60);
// }

img {
  max-width: 40%;
  height:auto;
}

div.background {
  background-size: 75%;
  background-image: url("https://wallpapercave.com/wp/tZAh2fj.jpg");
  background-repeat: no-repeat;
  

  // background-size: contain;
  // // background-position: initial;  
  // background-repeat: no-repeat;  
}

body.garage {
  background-image: url("https://si.wsj.net/public/resources/images/B3-DH847_GARAGE_M_20190301170204.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
  text-align: center;
  }

div.background{
  background-color: rgba(179, 255, 0, 0.561);
  opacity: 0.9;
  text-align: center;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  font-family: 'Impact';
}

p.title{
  color: #050101;
  font-size: 400%;
}

.btn{
  margin: 3px;
  padding: 20px 30px;
  border: none;
}

.btn-primary{
  background: white;
  color: #050101;
}

.btn-primary:hover{
  background: rgba(179, 255, 0, 0.561)
}

a#login-button{
  position: relative;
  right: 15%;
}

a#sign-up-button{
  position: relative;
  left: 15%;
}

div.button{
  margin: 3px
}





