<div class="background" ><p class="title">Welcome to A/J/M Raceway</p>

<a id = "login-button" class="btn btn-primary" href="/login" role="button">Log In</a>
<a id = "sign-up-button" class="btn btn-primary" href="/signup" role="button">Sign Up</a>
</div>
